body{ background-color:rgb(232, 229, 229);}
h1{
    text-shadow: 2px 2px 5px lightblue;
    font-size: 70px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.menubuttons{
    word-spacing: 30px;
    font-size: large;
    text-align: center;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    position: sticky;
}
.picture{
    display: flex;
    align-items: center;
    margin:  0 auto;
}

.words{
    display: flex;
    align-items: center;
    margin:  0 auto;
}

a:link{
    color: white;
    text-decoration: none;
}
a:hover,a:active{
    background-color: rgb(65, 65, 237);
    padding: 10px;
    color: white;
    text-decoration: none;

}
.colorMenu{
    color: white;
}
