body{ background-color:rgb(232, 229, 229);}
/* header */
h1{ 
    text-shadow: 2px 2px 5px lightblue;
    font-size: 70px;
}
p,pre{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
img{
    width:500px; 
    height:600px;
}

.learnButton{
    border-width: 8px;
    border-radius: 12px;
    background-color: rgb(62, 196, 196);
    /*centered the button*/
    margin: auto;
    display: block ;
    /*centered the button*/
    width: 200px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.menubuttons{
    word-spacing: 30px;
    font-size: large;
    text-align: center;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.picture{
    display: flex;
    align-items: center;
}

.boxes{
    background-color: lightskyblue;
    margin: auto; 
    width: 500px; 
    border: 5px solid  rgb(0, 86, 139); 
    border-radius: 12px; 
    margin-bottom: 20px; 
}

a:link{
    color: white;
    text-decoration: none;
}
a:hover,a:active{
    background-color: rgb(65, 65, 237);
    padding: 10px;
    color: white;
    text-decoration: none;

}
.colorMenu{
    color: white;
}

/*Standard breakpoint for phones*/
@media only screen and (max-width: 600px){
    .picture{
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }
    h1{
        font-size: 10vw;
    }
    p,pre{
        font-size: 3vw;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}
/*Standard breakpoint for tablets/big phones*/
@media only screen and (min-width: 601px){
    .picture{
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }
    h1{
        font-size: 10vw;
    }
    p,pre{
        font-size: 3vw;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}
/*Standard breakpoint for big tablets*/
@media only screen and (min-width: 768px){
    .picture{
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }
    h1{
        font-size: 10vw;
    }
    p,pre{
        font-size: 3vw;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}
/*Standard breakpoint for large laptops*/
@media only screen and (min-width: 992px){
    .picture{
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
    }
    h1{
        font-size: 70px;
    }
    p,pre{
        font-size: large;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}
/*Standard breakpoint for large laptops*/
@media only screen and (min-width: 1200px){
    .picture{
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
    }
    h1{
        font-size: 70px;
    }
    p,pre{
        font-size: large;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}
