body{ background-color:rgb(232, 229, 229);}
h1{
    text-shadow: 2px 2px 5px lightblue;
    font-size: 70px;
    font-size:10vw;
}
p,pre{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-size:3vw;
}

.menubuttons{
    word-spacing: 30px;
    font-size: large;
    text-align: center;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    position: sticky;
}
.picture{
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
}

img{
    max-width: 100%;
    height: auto;
}

.boxes{
    background-color: lightskyblue;
    margin: auto; 
    width: 500px; 
    border: 5px solid rgb(0, 86, 139); 
    border-radius: 12px; 
    margin-bottom: 20px; 
    max-width: 100%;
    height: auto;
}

a:link{
    color: white;
    text-decoration: none;
}
a:hover,a:active{
    background-color: rgb(65, 65, 237);
    padding: 10px;
    color: white;
    text-decoration: none;

}
.colorMenu{
    color: white;
}
